<form [formGroup]="form" autocomplete="off" class="flex flex-wrap gap-2 w-full">
  <mat-form-field class="w-full" appearance="fill" floatLabel="always">
    <mat-label>Current Password</mat-label>
    <input id="cpfCurrentPassword" matInput formControlName="currentPassword" placeholder="Current Password"
      [type]="hideCurrentPassword() ? 'password' : 'text'" [tDisable]="networkActive()">
    <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideCurrentPassword()" [disabled]="networkActive()" (click)="toggleCurrentPasswordEvent()">
      <mat-icon>{{ hideCurrentPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (isError('currentPassword', 'required')) { <mat-error>Current Password is required</mat-error> }
  </mat-form-field>

  <div class="w-full flex flex-wrap">
    <mat-form-field class="w-full" appearance="fill" floatLabel="always">
      <mat-label>Password</mat-label>
      <input id="cpfPassword" matInput formControlName="password" placeholder="New Password"
        [type]="hidePassword() ? 'password' : 'text'" [tDisable]="networkActive()">
      <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()" [disabled]="networkActive()" (click)="togglePasswordEvent()">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (isError('password', 'required')) { <mat-error>New Password is required</mat-error> }
      @else if (isError('password', 'pattern')) { <mat-error>The password should match with min 4 characters, 1 Uppercase, 1 Number.</mat-error> }
      @else if (isError('password', 'mismatch')) { <mat-error>Password shouldn't match with the newone, please change it.</mat-error> }
    </mat-form-field>
    @if (passwordValue()) {
    <div class="w-full mx-2">
      <div class="grid grid-cols-3 gap-2 mb-2">
        <div class="h-1.5 rounded-full" [class]="passwordStrength() === 0 ? 'bg-red-500 ' : 'bg-green-500'"></div>
        <div class="h-1.5 rounded-full" [class]="passwordStrength() < 2 ? 'bg-red-500' : 'bg-green-500'"></div>
        <div class="h-1.5 rounded-full" [class]="passwordStrength() === 3 ? 'bg-green-500' : 'bg-red-500'"></div>
      </div>
      <p class="p-0 text-xs text-slate-400 italic mb-4">Sugerencia: Usa números y símbolos para mayor seguridad.</p>
    </div>
    }
  </div>

  <mat-form-field class="w-full" appearance="fill" floatLabel="always">
    <mat-label>Confirm Password</mat-label>
    <input id="cpfConfirmPassword" matInput formControlName="confirmPassword" placeholder="Confirm Password"
      [type]="hideConfirmPassword() ? 'password' : 'text'" [tDisable]="networkActive()">
    <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirmPassword()" [disabled]="networkActive()" (click)="toggleConfirmPasswordEvent()">
      <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (isError('confirmPassword', 'mismatch')) { <mat-error>Passwords do not match</mat-error> }
  </mat-form-field>
</form>
