<form *transloco="let t" [formGroup]="form" autocomplete="off" class="flex flex-wrap gap-8 w-full">
  <mat-form-field class="w-full" appearance="fill" floatLabel="always">
    <mat-label>{{ t('changePasswordForm.Current Password') }}</mat-label>
    <input id="cpfCurrentPassword" matInput formControlName="currentPassword" placeholder="Current Password"
      [type]="hideCurrentPassword() ? 'password' : 'text'" [tDisable]="networkActive()">
    <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideCurrentPassword()" [disabled]="networkActive()" (click)="toggleCurrentPasswordEvent()">
      <mat-icon>{{ hideCurrentPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (isError('currentPassword', 'required')) { <mat-error>{{ t('global.form.validations.Field Required', { fieldName: t('changePasswordForm.Current Password') })}}</mat-error> }
  </mat-form-field>

  <div class="w-full flex flex-wrap">
    <mat-form-field class="w-full" appearance="fill" floatLabel="always">
      <mat-label>{{ t('global.form.fields.Password') }}</mat-label>
      <input id="cpfPassword" matInput formControlName="password" placeholder="New Password"
        [type]="hidePassword() ? 'password' : 'text'" [tDisable]="networkActive()">
      <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()" [disabled]="networkActive()" (click)="togglePasswordEvent()">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (isError('password', 'required')) { <mat-error>{{ t('global.form.validations.Field Required', { fieldName: t('global.form.fields.Password') })}}</mat-error> }
      @else if (isError('password', 'pattern')) { <mat-error>{{ t('changePasswordForm.The password should match message') }}</mat-error> }
      @else if (isError('password', 'mismatch')) { <mat-error>{{ t('changePasswordForm.Password shouldnt match message') }}</mat-error> }
    </mat-form-field>

    @if (passwordValue()) {
    <div class="w-full mx-2 pt-2">
      <div class="grid grid-cols-3 gap-2 mb-2">
        <div class="h-1.5 rounded-full" [class]="passwordStrength() === 0 ? 'bg-red-500 ' : 'bg-green-500'"></div>
        <div class="h-1.5 rounded-full" [class]="passwordStrength() < 2 ? 'bg-red-500' : 'bg-green-500'"></div>
        <div class="h-1.5 rounded-full" [class]="passwordStrength() === 3 ? 'bg-green-500' : 'bg-red-500'"></div>
      </div>
      <p class="p-0 text-xs text-slate-400 italic mb-4">{{ t('changePasswordForm.Sugerencia message') }}</p>
    </div>
    }
  </div>

  <mat-form-field class="w-full" appearance="fill" floatLabel="always">
    <mat-label>{{ t('global.form.fields.Confirm Password') }}</mat-label>
    <input id="cpfConfirmPassword" matInput formControlName="confirmPassword" placeholder="Confirm Password"
      [type]="hideConfirmPassword() ? 'password' : 'text'" [tDisable]="networkActive()">
    <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirmPassword()" [disabled]="networkActive()" (click)="toggleConfirmPasswordEvent()">
      <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (isError('confirmPassword', 'mismatch')) { <mat-error>{{ t('global.form.validations.Field do not match', { fieldName: t('global.form.fields.Password') })}}</mat-error> }
  </mat-form-field>
</form>
