<form *transloco="let t" [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-wrap gap-7">
  <mat-form-field class="w-full" appearance="fill" floatLabel="always">
    <mat-label>{{ t('global.form.fields.Email') }}</mat-label>
    <div matSuffix class="pr-2 text-slate-400">
      <mat-icon class="!w-5 !h-5" svgIcon="at_sign"></mat-icon>
    </div>
    <input id="fpEmail" matInput formControlName="email" autocomplete="email" placeholder="ejemplo@correo.com"
      [tDisable]="networkActive()">
    @if (isError('email', 'required')) {
    <mat-error>
      {{ t('global.form.validations.Field Required', { fieldName: t('global.form.fields.Email') })}}
    </mat-error>
    }
    @else if (isError('email', 'email')) {
    <mat-error>
      {{ t('global.form.validations.Enter a valid field', { fieldName: t('global.form.fields.Email') })}}
    </mat-error>
    }
  </mat-form-field>

  <button matButton="filled" color="primary" type="submit" class="w-full" [disabled]="networkActive() || (form.dirty && !form.valid)">
    @if (networkActive()) {
    <div class="flex items-center justify-center gap-2">
      <mat-spinner diameter="20" color="accent"></mat-spinner>
      <span>{{ t('forgotPasswordForm.Sending Instructions') }}</span>
    </div>
    } @else {
    <span>{{ t('forgotPasswordForm.Send Instructions') }}</span>
    }
  </button>
</form>
