@use "tailwindcss";

@mixin styles() {
  .mat-mdc-form-field {
    --mdc-outlined-field-container-shape: var(--radius-custom, 12px) !important;
    --mdc-outlined-field-outline-width: var(--border-thin, 2px) !important;
    --mdc-outlined-field-focus-outline-width: var(
      --border-thick,
      5px
    ) !important;
    --mdc-outlined-field-outline-color: var(--slate-200) !important;
    --mdc-outlined-field-focus-outline-color: var(--color-primary) !important;
    --mdc-outlined-field-label-text-color: var(--slate-500) !important;
    --mdc-outlined-field-focus-label-text-color: var(
      --color-primary
    ) !important;

    // margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    height: fit-content !important;
    width: 100%;

    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
      min-height: 0;
      margin: 0;
      padding: 0 !important;
      overflow: hidden;
      display: grid;
      transition: all 0.2s ease-in-out;
    }

    .mat-mdc-form-field-bottom-align {
      display: none;
    }

    &:has(.mat-mdc-form-field-error),
    &:has(.mat-hint) {
      margin-bottom: 0;

      .mat-mdc-form-field-subscript-wrapper {
        height: auto;
        display: block;
        padding-top: 6px !important;
      }

      .mat-mdc-form-field-bottom-align {
        display: block;
      }
    }

    .mdc-text-field--filled {
      @apply border border-slate-200 rounded-xl focus:ring-2 focus:ring-indigo-600 outline-none transition-all;
      background-color: #f8fafc !important;
      // border: 1px solid #f1f5f9 !important;
      // border-radius: 1rem !important;
      padding: 0 1rem !important;
      overflow: visible !important;
      height: auto !important;
      min-height: 48px !important;
      align-items: flex-start !important;

      .mdc-floating-label--float-above {
        @apply text-sm font-bold text-slate-700;
        transform: translateY(-35px) scale(1) !important;
        font-size: 0.9rem !important;
        font-weight: 500 !important;
        top: 12px !important;
        left: -15px !important;
      }

      .mat-mdc-form-field-infix {
        padding: 15px 0;
      }

      &.mdc-text-field--focused {
        background-color: #ffffff !important;
        border-color: transparent !important;
        outline: 2px solid #4f46e5 !important;
      }
    }

    .mdc-line-ripple,
    .mdc-text-field__ripple {
      display: none !important;
    }

    .mat-mdc-form-field-flex {
      height: auto !important;
      min-height: 38px !important;
      align-items: flex-start !important;
      padding: 0 !important;
    }

    .mat-mdc-form-field-infix {
      min-height: 48px !important;
      height: auto !important;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .mdc-line-ripple,
    .mdc-text-field__ripple {
      display: none !important;
    }

    .mdc-notched-outline__notch {
      border-right: none !important;
    }
  }

  input.mat-mdc-input-element {
    color: var(--color-brand-deep, #1e293b);
    font-weight: 500;
  }

  .mat-mdc-form-field {
    &.mat-form-field-disabled {
      opacity: 0.6;
      background-color: var(--slate-50);
      cursor: not-allowed;

      .mat-mdc-text-field-wrapper {
        background-color: #f8fafc !important;
      }
    }
  }
}
